
:link {
    text-decoration: none;
}


.BgMarmore{
    background-image: url(../../images/marmorepreto.webp);
    background-size: cover;
}

.BgLogo{
    height: 35vh;
}

.contato{
    color:white;
    background-color: #262626;
    font-size: 3vh;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    top:85vh;
    left:70vh;
    padding: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 71px 71px 71px 71px / 66px 66px 66px 66px;
}

.contato:hover{
    color: white;
    background-color: #E5A75E;
    transition:.6s ease;
}

.pfBg{
    background-color: black;
    line-height: 50px;
    padding-bottom: 130px;
}

.servicesControl {
    padding-top: 10px;
    padding-bottom: 55px;
}
.servicesTittle {
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

.servicesDesc {
    color:white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}



.pfDescription{
    color: #E5A75E;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-top: 20px;
}

.pfDescription:hover{
    color: white;
    transition:.6s ease;

}

.pfIcon{
    width: 30%;

}

.profile{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 10px;
}

.profile-2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    background: #E5A75E;
    max-width: 20vh;
    border-radius: 71px 71px 71px 71px / 66px 66px 66px 66px;


}

.profile-2:hover {
    background-color: white;
    color: #E5A75E;
    transition:.6s ease;


}


.socialIcon{
    color: white;
    font-size: 5vh;
    background-color: #E5A75E;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh ;
    padding-bottom: 1vh;
}

.socialIcon:hover {
    background-color: white;
    color: #E5A75E;
    transition:.6s ease;


}

.footer {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
}


@media only screen and (max-width: 767px) {
    .BgMarmore {
        background-repeat: no-repeat;
        max-height: 45vh;
    }
    .BgLogo {
        height: 23vh;
   
    }
    .contato{
        font-size: 2vh;
        line-height: 10px;
    }
     .pfIcon{
        width: 58%;
    
    }
    .pfBg {
        padding-bottom: 25px;
    }
     
   .pfDescription{
        font-size: 18px;
        padding-top: 30px;
        font-weight: 400;
        
}
    .profile{
        font-size: 15px;
        padding-top: 5px;
    }

    .profile-2{
        font-size: 15px;
    }

    
    .socialIcon{
        font-size: 35px;
        padding-left: 1.2vh;
        padding-right: 1.2vh;
        padding-top: 0.5vh ;
        padding-bottom: 0.5vh;
    }   
}


