@media only screen and (max-width: 767px) {
    .TitleMobileTextFix {
        font-size: 35px;
    }
    .SubtitleMobileTextFix {
        font-size: 12px;
    }
    .ImgMobileFix {
        width: 50%;
    }

}

